<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('../utils/head', { title: 'Documentaci贸n'}) %>
</head>
<body>
  <%# Barra de Navegaci贸n %>
  <%- include('../components/navbar', { page: 'docs' }) %>

  <%# Aplicaci贸n Principal %>
  <main id="docs-main">
    <section id="docs-index">
      <h2>Inicio</h2>
      <ul>
        <li><a href="#inicio">Inicio</a></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </section>
    <section id="docs-section">
      <h1>Documentaci贸n</h1>

      <hr />
      <section id="inicio">

      </section>
    </section>
  </main>

  <%# Scripts %>
  <%- include('../utils/scripts') %>
</body>
</html>