<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('../utils/head', { title: 'Inicio'}) %>
</head>
<body>
  <%# Barra de Navegación %>
  <%- include('../components/navbar', { page: 'home' }) %>

  <%# Aplicación Principal %>
  <main id="home-main">

  </main>

  <%# Scripts %>
  <%- include('../utils/scripts') %>
</body>
</html>