<section id="put-products">
  <h3><span class="put-method">PUT</span> - Actualizar Productos</h3>
  <p>Actualiza masivamente los productos de la base de datos. Por defecto, el rango de actualización se determina con el parámetro de consulta 'limit' con un valor de 10 elementos y 'offset' en 0 elementos.</p>

  <h4>Ejemplo solicitud correcta</h4>
  <pre>
    <span class="type-request">HTTP</span>

    <span style="padding-left: 10px;">PUT https://fake-store-alpha.vercel.app/api/products HTTP/1.1</span>
    <span style="padding-left: 10px;">Content-Type: application/json; charset=utf-8</span>
    <span style="padding-left: 10px;">Content-Length: 29</span>

    <span style="padding-left: 10px;">{"description":"lorem ipsum"}</span>

  </pre>

  <h4>204 - No Content</h4>
  <em>Actualiza los primeros 10 elementos con una nueva descripción con el valor 'lorem ipsum'</em>
  <pre>
    <span class="type-request">HTTP</span>
    
    <span style="padding-left: 10px;">HTTP/1.1 204 No Content</span>
    
  </pre>

  <hr />

  <h4>Ejemplo solicitud incorrecta</h4>
  <pre>
    <span class="type-request">HTTP</span>

    <span style="padding-left: 10px;">PUT https://fake-store-alpha.vercel.app/api/products?limit=&lt;--LIMIT--&gt;&offset=&lt;--OFFSET--&gt; HTTP/1.1</span>
    <span style="padding-left: 10px;">Content-Type: application/json; charset=utf-8</span>

  </pre>

  <h4>400 - Bad Request</h4>
  <em>Si el cuerpo de la solicitud está vacio responderá con un error</em>
  <pre>
    <span class="type-request">HTTP</span>
    
    <span style="padding-left: 10px;">HTTP/1.1 400 Bad Request</span>
    <span style="padding-left: 10px;">Content-Type: application/json; charset=utf-8</span>

    <span style="padding-left: 10px;">&lbrace;</span>
    <span style="padding-left: 20px;">"message": "Error empty body",</span>
    <span style="padding-left: 20px;">"status": 400</span>
    <span style="padding-left: 10px;">&rbrace;</span>

  </pre>

  <h4>400 - Bad Request</h4>
  <em>En las solicitudes de actualización de recursos se pueden enviar campos parciales pero deben cumplir con su tipo de dato, si no se cumple responderá con un error</em>
  <pre>
    <span class="type-request">HTTP</span>
    
    <span style="padding-left: 10px;">HTTP/1.1 400 Bad Request</span>
    <span style="padding-left: 10px;">Content-Type: application/json; charset=utf-8</span>

    <span style="padding-left: 10px;">&lbrace;</span>
    <span style="padding-left: 20px;">"message": "Error verifying the data required to update category",</span>
    <span style="padding-left: 20px;">"status": 400,</span>
    <span style="padding-left: 20px;">"errors": &lbrack;</span>
      <span style="padding-left: 30px;">"The format of the value of the 'name' property must be 'string'",</span>
      <span style="padding-left: 30px;">"The format of the value of the 'description' property must be 'string'",</span>
      <span style="padding-left: 30px;">"The format of the value of the 'price' property must be 'number' or 'float number'",</span>
      <span style="padding-left: 30px;">"The format of the value of the 'categoryId' property must be 'number'</span>
    <span style="padding-left: 20px;">&rbrack;</span>
    <span style="padding-left: 10px;">&rbrace;</span>

  </pre>

  <h4>404 - Not Found</h4>
  <em>Si no se actualizan o no se encuentran resultados dentro de los parámetros de consulta 'limit' y 'offset' responderá con un error</em>
  <pre>
    <span class="type-request">HTTP</span>
    
    <span style="padding-left: 10px;">HTTP/1.1 404 Not Found</span>
    <span style="padding-left: 10px;">Content-Type: application/json; charset=utf-8</span>

    <span style="padding-left: 10px;">&lbrace;</span>
    <span style="padding-left: 20px;">"message": "There are no products that match the requested condition, or there are no records in the database",</span>
    <span style="padding-left: 20px;">"status": 404</span>
    <span style="padding-left: 10px;">&rbrace;</span>

  </pre>
</section>
