<section id="put-category">
  <h3><span class="put-method">PUT</span> - Actualizar Categoría por id</h3>
  <p>Busca la categoría según su id en la base de datos y lo actualiza con los nuevos valores enviados.</p>

  <h4>Ejemplo solicitud correcta</h4>
  <pre>
    <span class="type-request">HTTP</span>

    <span style="padding-left: 10px;">PUT https://fake-store-alpha.vercel.app/api/categories/&lt;--ID--&gt; HTTP/1.1</span>
    <span style="padding-left: 10px;">Content-Type: application/json; charset=utf-8</span>
    <span style="padding-left: 10px;">Content-Length: 29</span>

    <span style="padding-left: 10px;">{"description":"lorem ipsum"}</span>

  </pre>

  <h4>204 - No Content</h4>
  <em>Actualiza el elemento especificado con su id con una nueva descripción con el valor 'lorem ipsum'</em>
  <pre>
    <span class="type-request">HTTP</span>
    
    <span style="padding-left: 10px;">HTTP/1.1 204 No Content</span>
    
  </pre>

  <hr />

  <h4>Ejemplo solicitud incorrecta</h4>
  <pre>
    <span class="type-request">HTTP</span>

    <span style="padding-left: 10px;">PUT https://fake-store-alpha.vercel.app/api/categories/&lt;--ID--&gt; HTTP/1.1</span>
    <span style="padding-left: 10px;">Content-Type: application/json; charset=utf-8</span>

  </pre>

  <h4>400 - Bad Request</h4>
  <em>Si el cuerpo de la solicitud está vacio responderá con un error</em>
  <pre>
    <span class="type-request">HTTP</span>
    
    <span style="padding-left: 10px;">HTTP/1.1 400 Bad Request</span>
    <span style="padding-left: 10px;">Content-Type: application/json; charset=utf-8</span>

    <span style="padding-left: 10px;">&lbrace;</span>
    <span style="padding-left: 20px;">"message": "Error empty body",</span>
    <span style="padding-left: 20px;">"status": 400</span>
    <span style="padding-left: 10px;">&rbrace;</span>

  </pre>

  <h4>400 - Bad Request</h4>
  <em>En las solicitudes de actualización de recursos se pueden enviar campos parciales pero deben cumplir con su tipo de dato, si no se cumple responderá con un error</em>
  <pre>
    <span class="type-request">HTTP</span>
    
    <span style="padding-left: 10px;">HTTP/1.1 400 Bad Request</span>
    <span style="padding-left: 10px;">Content-Type: application/json; charset=utf-8</span>

    <span style="padding-left: 10px;">&lbrace;</span>
    <span style="padding-left: 20px;">"message": "Error verifying the data required to update category",</span>
    <span style="padding-left: 20px;">"status": 400,</span>
    <span style="padding-left: 20px;">"errors": &lbrack;</span>
      <span style="padding-left: 30px;">"The format of the value of the 'name' property must be 'string'",</span>
      <span style="padding-left: 30px;">"The format of the value of the 'description' property must be 'string'"</span>
    <span style="padding-left: 20px;">&rbrack;</span>
    <span style="padding-left: 10px;">&rbrace;</span>

  </pre>

  <h4>400 - Bad Request (Formato de ID inválido)</h4>
  <em>Los ID son numéricos, si se usa otro formato responderá con un error</em>
  <pre>
    <span class="type-request">HTTP</span>
    
    <span style="padding-left: 10px;">HTTP/1.1 400 Bad Request</span>
    <span style="padding-left: 10px;">Content-Type: application/json; charset=utf-8</span>

    <span style="padding-left: 10px;">&lbrace;</span>
    <span style="padding-left: 20px;">"message": "The format of the 'id' is invalid",</span>
    <span style="padding-left: 20px;">"status": 400</span>
    <span style="padding-left: 10px;">&rbrace;</span>

  </pre>

  <h4>404 - Not Found (Categoría no encontrada)</h4>
  <em>Si se proporciona un ID de una categoría que no está almacenada en la base de datos responderá con un error</em>
  <pre>
    <span class="type-request">HTTP</span>
    
    <span style="padding-left: 10px;">HTTP/1.1 404 Not Found</span>
    <span style="padding-left: 10px;">Content-Type: application/json; charset=utf-8</span>

    <span style="padding-left: 10px;">&lbrace;</span>
    <span style="padding-left: 20px;">"message": "The category doesn't exist",</span>
    <span style="padding-left: 20px;">"status": 404</span>
    <span style="padding-left: 10px;">&rbrace;</span>

  </pre>

</section>
